<h1>Welcome to Loren Glenn's Portfolio</h1>
<div class="landing-image">
  <%= image_tag("https://c.tadst.com/gfx/750w/international-programmer-day.jpg?1") %><br>
  <small> - this image isn't me!</small>
</div>
