<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<h3>Click a project to view on Github</h3>
  <div class="row">
    <% @projects.each do |project| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Project Name: <%= link_to project["name"], "https://github.com/lorenglenn/" + project["name"] %>
        </div>
        <div class="panel-body">
            Description: <%= project["description"] %>
        </div>
      </div>
    </div>
    <% end %>
    <hr>
  </div>
