<h3>How I became a Junior Developer:</h3>

<h4>
  Insert story here about struggles growing up in the Bronx. Fighting for every meal, just to survive. Met Bill Gates
at a Chipotle and he opened my eyes to the world of technology.
</h4>
